Config(
    total_timesteps: 60000,
    rollout: (
        steps: 32,
        num_envs: 64,
        processes: 4,
    ),
    optim: (
        bs: 512,
        lr: 0.005,
    ),
    cuda: true,
    track: true,
    wandb_project_name: "enn-tensorRTS",
    wandb_entity: "dn946718",
)
